@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200;400;500;600;700;800&display=swap');

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Montserrat Alternates',
  sans-serif;
}

.light-theme {
  background-color: rgba(255, 255, 255, 0);
  color: #444444;
  transition: 1.3s;
  webkit-transition: opacity 3s ease-in-out;
  -moz-transition: opacity 3s ease-in-out;
  -ms-transition: opacity 3s ease-in-out;
  -o-transition: opacity 3s ease-in-out;
  opacity: 1;
}

nav {
  
  background-color: rgba(255, 255, 255, 0);
  padding: 10px;
  transition: 1.3s;
  webkit-transition: opacity 3s ease-in-out;
  -moz-transition: opacity 3s ease-in-out;
  -ms-transition: opacity 3s ease-in-out;
  -o-transition: opacity 3s ease-in-out;
  opacity: 1;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-container{
  display: flex;
  width: 80%;
  margin: 5px auto;
  align-items: center;
  justify-content: center;
  object-fit: contain;
  margin-top: 0px;
}

.logo{
  height: 3.5rem;
}

.nav-link{
  display: flex;
}
.nav-link li{
margin: 8px;
justify-content: space-around;
list-style: none;

}

.nav-link li a{
  color: #000;
  font-size: 1.4rem;
  text-decoration: none;
  text-transform: lowercase;
  margin: 10px;
}
.nav-link li a:hover{
  color: #f1c21c;
  transition: 0.3s all;
 
}
.nav-controls{
  margin: 0px auto;
}

.toggle-btn{
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.toggle-btn:hover{
 color: #f1c21c;
}

/* 
.content {
  padding: 0.5em;
  margin: 0 auto;
  max-width: 600px;
  font-size: 1.2rem;
  line-height: 1.1;
  height: 90vh;
} */


.dark-theme {
  background-color: #0a011f;
  color: #524747;
  transition: 1.3s;
  
  
}

.dark-theme nav {
  background-color: transparent;
  transition: 1.3s;
}
.dark-theme li a{
  color: #fff;
}
.dark-theme .toggle-btn{
  color: #fff;
}


.dark-theme code {
  color: red;
}

/* hero section */
.hero{
  height: 60vh;
}